<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic HTML Test</title>
</head>
<body>
    <form action="/user" method="post">
        
        <input type="text" id="ServiceName" placeholder="Service Name" name="ServiceName"/>
        
        <input type="text" pattern="([0-9]{1,5})" id="ServiceCost" placeholder="Service Cost" name="ServiceCost"/>
        
        <input type="text" id="ServiceDuration" placeholder="Service Duration" name="ServiceDuration"/>

        <button type="submit">Submit</button>

    </form>
    
</body>
</html>